#bubbleSketch {
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card {
    margin: 5px 5px 5px 5px;
}

.card:hover {
    border-width: 1px 3px 1px 1px;
    border-style: solid;
    border-color:purple;}

.row .card-group {
    width: 100%;
}